{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"plugins": [
		"@typescript-eslint"
	],
	"rules": {
		"@typescript-eslint/naming-convention": [
			"error",
			{
				"selector": "default",
				"format": ["camelCase"],
				"leadingUnderscore": "allow"
			},
			{
				"selector": "variable",
				"modifiers": ["const"],
				"format": ["camelCase", "UPPER_CASE"],
				"leadingUnderscore": "allow"
			},
			{
				"selector": ["classProperty"],
				"modifiers": ["readonly"],
				"format": ["camelCase", "UPPER_CASE"],
				"leadingUnderscore": "allow"
			},
			{
				"selector": ["accessor"],
				"format": ["camelCase", "UPPER_CASE"],
				"leadingUnderscore": "allow"
			},
			{
				"selector": ["typeLike"], // class, enum, interface, typeAlias, typeParameter
				"format": ["PascalCase"]
			},
			{
				"selector": ["method", "function"],
				"format": ["PascalCase", "camelCase"]
			},
			{
				"selector": "objectLiteralProperty",
				"format": null
			},
			{
				"selector": "enumMember",
				"format": ["PascalCase"]
			}
		],
		"quotes": [							// single quotes
			"error",
			"single",
			{
				"avoidEscape": true,
				"allowTemplateLiterals": true
			}
		],
		"curly": "warn",					// braces for control flow
		"no-throw-literal": "warn",			// throwing Error objects
		"semi": "warn",						// semicolons
		"no-trailing-spaces": "warn",		// no trailing spaces
		"space-in-parens": "warn",			// spaces inside parentheses
		"space-before-blocks": "warn",		// spaces before blocks
		"prefer-const": "warn",				// prefer const over let
		"no-var": "error",					// no var keyword
		//"no-unused-vars": "warn",			// no unused variables //Temp. disabled because lot of code is not done yet
		//"no-console": "warn",				// no console.log
		//"eqeqeq": "warn",					// strict equality
	},
	"ignorePatterns": [
		"node_modules/",
		"dist/",
		"**/*.d.ts"
	]
}